<div class="container">
    <div class="d-flex justify-content-between mb-5">
        <h1>Your fav places!</h1>
        <form action="/">
            <div class="d-grid d-flex justify-content-end">
                <button class="btn btn-outline-dark btn-sm mb-3">Search for more</button>
            </div>
        </form>
    </div>


    {{#each citiesData}}
    <div class="row justify-content-center">
        <div class="col-9 mb-3">
            <div class="row card align-items-center justify-content-around" style="border-radius: 5px">
                <div class="col-3 text-center">
                    <h2 class="city-name" data-name="{{name}}, {{sys.country}}">
                        <span>{{name}}</span>
                        <sup>{{sys.country}}</sup>
                        <div class="city-temp">{{temp}}<sup>ºC</sup></div>
                        <p class="description">{{description}}</p>
                    </h2>
                </div>
                <div class="col-3 text-center">
                    <img class="city-icon text-center" src="{{iconUrl}}" alt="">
                    <div class="d-grid text-center">
                        <a href="/eachplace/{{name}}" class="btn btn-sm mb-3">Details</a>
                    </div>
                </div>


            </div>
        </div>
        {{!-- <div class="col-3 align-items-center">
            <figure>
                <img class="city-icon" src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div> --}}
    </div>
    {{/each}}

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/api-handler.js"></script>
<script src="/js/api-call.js"></script>
<script src="./../../services/weather-handler.js"></script>