<div class="container">

    <h1>Your fav places!</h1>
    <form action="/">
        <div class="d-grid d-flex justify-content-end">
            <button class="btn btn-dark btn-sm mb-3">Search for more</button>
        </div>
    </form>


    {{#each citiesData}}
    <div class="row card align-items-center justify-content-center mb-4" style="border-radius: 25px">

        <div class="col">
            <h2 class="city-name" data-name="{{name}}, {{sys.country}}">
                <span>{{name}}</span>
                <sup>{{sys.country}}</sup>
            </h2>
            <div class="city-temp">{{main.temp}}<sup>ºC</sup></div>
            <div class="d-grid d-flex justify-content-end">
                <a href="/eachplace/{{name}}" class="btn btn-dark btn-sm mb-3">Detailes</a>
            </div>

        </div>
        {{!-- <div class="col-3 align-items-center">
            <figure>
                <img class="city-icon" src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div> --}}
    </div>
    {{/each}}

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/api-handler.js"></script>
<script src="/js/api-call.js"></script>
<script src="./../../services/weather-handler.js"></script>